<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Idiomatic' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,700,400italic' rel='stylesheet' type='text/css'>
      <link href='//fonts.googleapis.com/css?family=Lora:100,200,300,400,700,400italic' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
